/* Add your own styles */
header{
	width: 100%;
	height:80px;
	background-color:#73D6EF;
	text-align: center;
	display: inline-block;


}
#result{

	position:relative;
	left: 20%;
	top :40px;

}


button{
	position:relative;
	left:40%;
	top :20px;
	width:100px;
	height: 40px;

	
}
label{
	position:relative;
	left:38%;
	font-size: 50px;
}
input[type=text] {
  background-color: lightblue;
  color: black;
  width: 55%;
   height: 50px;
  border: 2px solid ;
  border-radius: 4px;
  position:relative;
  left:22%;
  font-size: 40px;
  top:10px;
}



table#tb {
  width: 60%;
  
}
table#tb tr:nth-child(even) {
	text-align: center;
  background-color: #eee;
}
table#tb tr:nth-child(odd) {
  background-color: #fff;
  text-align: center;
}
table#tb th {
  color: black;
  background-color: #73D6EF;
}